---
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"
import BlogPost from "../../components/BlogPost.astro"

const pageTitle = "My Astro Learning Blog";
const allPosts = await getCollection("webscrapingBlog")
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex-grow w-5/6 m-auto">

        <div class="text-5xl font-extrabold flex justify-center my-20">
            <p>Web Scraping</p>
        </div>
        <div class="w-full grid lg:grid-cols-3 md:grid-cols-2 gap-2 pb-32">
            {
                allPosts.map((post) => (
                <BlogPost postImageHeight="h-52" post={post} />
            ))
            }
        </div>
            
    </div>
</BaseLayout>

