---
import { getCollection } from "astro:content"
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro"

const allPosts = (await getCollection("allBlog")).sort((a,b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
---

<BaseLayout pageTitle="Food's Tech Blog">
	<div class="flex-grow w-5/6 m-auto">

		<div class="flex flex-col pb-64">

			<div class="flex md:text-4xl font-bold py-8 md:py-16 xl:p-16 xl:px-32">
				<p>Latest Posts</p>
			</div>
			<div class="grid md:grid-cols-2 xl:grid-cols-3 mb-16 gap-4 xl:px-32">
				{
					allPosts.map((post) => (
						<BlogPost post={post} url={post.id}/>
					))
				}
			</div>
			  
		</div>

	</div>
</BaseLayout>
