---
import { getCollection } from "astro:content"
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro"

const allPosts = await getCollection("allBlog")
---

<BaseLayout>
	<div class="flex-grow w-5/6 m-auto">

		<div class="grid lg:grid-cols-3 my-16 gap-2">
			<BlogPost customClass="lg:col-span-3 md:col-span-2" postImageHeight="lg:h-96 md:h-72 h-40" post={allPosts[0]} />
		</div>

	</div>
</BaseLayout>
