---
import '@fontsource/lato'
---


<div class="w-full h-[100px] bg-black/50 flex sm:justify-start md:justify-center lg:justify-center items-center overflow-x-auto whitespace-nowrap px-4">
    <a href="/" class="text-white text-sm md:text-2xl px-4">Home</a>
    <a href="/frontend/posts" class="text-white text-sm md:text-2xl px-4">Frontend</a>
    <a href="/backend/posts" class="text-white text-sm md:text-2xl px-4">Backend</a>
    <a href="/webscraping/posts" class="text-white text-sm md:text-2xl px-4">Web Scraping</a>
    <a href="/database/posts" class="text-white text-sm md:text-2xl px-4">Database</a>
</div>
