---
import BlogLogo from './BlogLogo.astro'
import '@fontsource/lato'
---

<div class="flex w-full h-[50px] md:h-[100px] bg-black/50 sm:justify-start md:justify-center lg:justify-between items-center overflow-x-auto whitespace-nowrap px-8 no-scrollbar">
    <div class="mr-12">
        <BlogLogo fontSize="text-2xl md:text-4xl lg:text-6xl"/>
    </div>
    <div>
        <a href="/frontend/posts" class="text-white text-sm md:text-xl lg:text-2xl px-4 md:px-8 lg:px-12">Frontend</a>
        <a href="/backend/posts" class="text-white text-sm md:text-xl lg:text-2xl px-4 md:px-8 lg:px-12">Backend</a>
        <a href="/webscraping/posts" class="text-white text-sm md:text-xl lg:text-2xl px-4 md:px-8 lg:px-12">Web Scraping</a>
        <a href="/database/posts" class="text-white text-sm md:text-xl lg:text-2xl px-4 md:px-8 lg:px-12">Database</a>
        <a href="/language/posts" class="text-white text-sm md:text-xl lg:text-2xl px-4 md:px-8 lg:px-12">Language</a>
    </div>
</div>
