---
import type { SanityDocument } from "@sanity/client";
import { sanityClient } from "sanity:client";
import BaseLayout from "../../layouts/BaseLayout.astro"
import HorizontalPost from "../../components/HorizontalPost.astro"

const pageTitle = "Database";

const POSTS_QUERY = `*[
  _type == "post"
  && category == $category
  && defined(slug.current)
]|order(publishedDate desc)[0...12]{
  _id, 
  title, 
  slug, 
  publishedDate,
  description, 
  mainImage {
    asset -> { 
      _id,
      url
    },
    alt,
  }
}`;

const posts = await sanityClient.fetch<SanityDocument[]>(POSTS_QUERY, { category: "database" });
---

<BaseLayout pageTitle={pageTitle}>
    <div class="flex-grow w-9/10 m-auto pt-8 xl:px-64 pb-16">

        <div class="text-2xl md:text-5xl font-extrabold flex justify-center py-10 md:py-20 bg-slate-900/50 text-white rounded-t-2xl">
            <p>Database</p>
        </div>
        <div class="pb-128 shadow-2xl py-4 rounded-b-2xl">
            {
                posts.map((post) => (
                    <HorizontalPost post={post} url={`/database/posts/${post.slug.current}`}/>
            ))
            }
        </div>
            
    </div>
</BaseLayout>

