---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="flex-grow flex justify-center">
        <div class="bg-white h-full w-full md:w-2/3 p-8 flex flex-col items-center">
            <slot/>
        </div>
    </div>
</BaseLayout>