---
import BaseLayout from "./BaseLayout.astro"
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="flex-grow flex justify-center">
        <div class="bg-white/70 h-full w-full md:w-2/3 p-8 flex flex-col items-center md:my-16 md:rounded-2xl">
            <slot/>
        </div>
    </div>
</BaseLayout>